.viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#paneDiv1 {
  position: absolute;
  bottom: 85px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: white;
}

#paneDiv2 {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: white;
}

.esri-button-overwrite {
  width:100px;
  height:35px;
  display: table-cell;
  margin: 2px;
  background-color: white;
  color: #0079c1;
}